<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ SITEURL }}/theme/css/glfork.css" rel="stylesheet" type="text/css">
    <link href="{{ SITEURL }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />

    {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
  
    <!--[if IE]>
        <style type="text/css">
        .twoColFixRtHdr #mainContent { zoom: 1; }
        </style>
    <![endif]-->
</head>

<body>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
      window.fbAsyncInit = function() {
              FB.init({
                        xfbml            : true,
                        version          : 'v3.2'
                      });
            };

(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="266312464228663"
     theme_color="#212121"
     logged_in_greeting="The MaryMaid Company greets you favourably. How can we help?"
     logged_out_greeting="The MaryMaid Company greets you favourably. How can we help?">
</div>
<!-- end Facebook SDK -->

<div id="container">

  <div id="header">
  <h1><a href="{{ SITEURL }}/index.html">{{ SITENAME }}</h1>
  {% if SITESUBTITLE %}<h2>{{ SITESUBTITLE }}</h2>{% endif %}
  
  </div><!-- end #header -->
  
  <div id="topMenu">
  
    <ul>
        {% for item in BEFORE_MENU %}
          <li><a href="{{ item.url }}">{{ item.name }}</li>
          <li>&ndash;</li>
        {% endfor %}
    	<li><a href="{{ SITEURL }}/index.html">Home</a></li>
        <li>&ndash;</li>
        <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
        {% for item in AFTER_MENU %}
          <li>&ndash;</li>
          <li><a href="{{ item.url }}">{{ item.name }}</li>
        {% endfor %}
        
    </ul>
  
  </div><!-- end #topMenu -->

    <a class="gitlab-fork-ribbon right-top" href="https://gitlab.com/marymaid/marymaid.gitlab.io" data-ribbon='Say "High!" on GitLab' title='Say "High!" on GitLab'>Say "High!" on GitLab</a>

  <div id="sidebar">
    <ul>
  	{% if DISPLAY_PAGES_ON_MENU %}
	<li>
	    <h3>{{ PAGE_WIDGET_NAME }}</h3>
	    <ul>
            {% for page in pages %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
	    </ul>
	</li>
        {% endif %}
  	{% if not SUPPRESS_CATEGORIES_ON_MENU %}
	<li>
            <h3>{{ CATEGORY_WIDGET_NAME }}</h3>
            <ul>
	        {% for cat, null in categories %}
		     <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	        {% endfor %}
	    </ul>
	</li>
        {% endif %}
        {% if LINKS %}
	<li>
		<h3>{{ LINKS_WIDGET_NAME }}</h3>
		<ul>
		{% for name, link in LINKS %}
                    <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
		</ul>
	</li>
	{% endif %}
	{% if SOCIAL %}
        <li>
                <h3>{{ SOCIAL_WIDGET_NAME }}</h3>
                <ul>
                    {% if FEED_ATOM %}
                    <li><a href="{{ SITEURL }}/{{ FEED_ATOM }}" rel="alternate">Atom feed</a></li>
                    {% endif %}
                    {% if FEED_RSS %}
                    <li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">Flux Rss</a></li>
                    {% endif %}
                {% for name, link in SOCIAL %}
                    <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
                </ul>
        </li><!-- /.social -->
        {% endif %}
    {% if AFFILIATES %}
        <li>
          <h3>{{ AFFILIATE_WIDGET_NAME }}</h3>
          <ul>
            {% for label, href in AFFILIATES %}
            <li><a href="{{ href }}" title="{{ label }}">{{ label }}</a></li>
            {% endfor %}
          </ul>
        </li>
    {% endif %}
  	{% if tags %}
        <li>
            <h3>{{ TAG_WIDGET_NAME }}</h3>
            <ul>
            {% for tag, articles in tags %}
                    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul>
  </div><!-- end #sidebar -->

  <div id="mainContent">
  	
    {% block content %}
    {% endblock %}
  
  </div><!-- end #mainContent -->

<div class="clearfloat"></div>

  <div id="footer">
  
  </div><!-- end #footer -->

</div><!-- end #container -->
{% include 'analytics.html' %}
</body>
</html>
